@import 'bord4-styles/src/styles/bt_bootstrap';
@import 'compass/css3';
@import 'fonts';
$pink: rgb(255, 0, 129);
@import 'markercluster';
* {
    padding: 0;
    margin: 0;
    font-family: 'calibreregular', Helvetica;
    line-height: 17px;
}

$mobilewidth: 450;
h1,
h2,
h3 {
    font-family: 'calibresemibold';
}

p,
li,
span {
    font-family: 'calibreregular';
}

.colorsquare {
    background-color: $bt_orange;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    float: left;
}

.headerbar {
    background-color: #f58220;
    color: #fff;
}

.btn-primary {
    margin: 25px;
}

dl {
    font-size: 18px;
    dt {
        font-family: 'calibresemibold';
    }
    dd {
        margin-bottom: 10px;
    }
}

.circle {
    width: 14px;
    font-weight: normal;
    height: 14px;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    line-height: 10px;
    text-align: center;
    background: grey;
    float: left;
    margin-right: 5px;
    margin-top: 7px;
    padding: 4px 3px 0 3px;
}

#dropdowncontainer {
    font-size: 18px;
    max-width: 80%;
}

#container {
    background-color: #E1e1e1;
    border-bottom: 2px solid #eee;
    margin-top: 5px;
    border-top: 2px solid #eee;
    font-size: 18px;
    .instructions {
        margin-bottom: 5px;
        font-family: 'calibreregular', Helvetica;
        line-height: 17px;
        font-size: 18px;
    }
    .nearest-items {
        border-top: 1px solid grey;
        font-size: 14px;
        a {
            cursor: pointer;
            &:after {
                content: ','
            }
        }
        a:last-of-type:after {
            content: ''
        }
    }
    .readmore {
        a {
            font-family: calibresemibold, Helvetica;
            font-size: 18px;
            font-weight: bold;
        }
    }
    #locatebtn {
        margin-top: -1px;
    }
    .leaflet-control-attribution {
        display: none !important;
    }
    #item_detail {
        .hearts {
            span {
                color: $pink !important;
                padding-right: 3px;
                font-size: 22px;
            }
        }
    }
}

.legend-item {
    font-size: 11px;
    color: grey;
    padding-left: 5px !important;
    padding-right: 0px !important;
    .circle {
        height: 10px;
        width: 10px;
        margin-top: 4px;
        opacity: 0.5;
    }
}

.source {
    text-align: right;
    color: #e1e1e1;
    span {
        float: right;
    }
}

#mapcontainer {
    position: relative;
    height: 250px;
    &.contract {
        height: 150px;
    }
    @media (min-width: 460px) {
        height: 400px;
    }
    #map {
        width: 100%;
        height: 90%;
        top: 0;
    }
    .activatebutton {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        padding: 20px;
        background: white;
        //width: 80px;
        z-index: 100;
        @media (min-width: 460px) {
            display: none;
        }
    }
}
